<div class="basic-container-2">
  <% @articles.each do |article| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= sanitize article.title.html_safe, tags: %w(a), attributes: %w(href src) %></h3><br>
        <small><em><%= "#{time_ago_in_words(article.created_at)} ago" %></em></small>
      </div><!--end panel-heading-->
      <div class="panel-body">
        <p>
          <%= sanitize article.text.html_safe, tags: %w(a img table tbody tr td th span strong ul li h1 h2 h3 br caption), attributes: %w(href src border style cellpadding em) %>
        </p>
      </div><!--end panel-body-->

      <%if signed_in? && current_user.admin?%>
        <div class="panel-footer">
          <%= link_to 'Show', article_path(article)%>
          | <%= link_to 'Edit', edit_article_path(article)%> |
          <%= link_to 'Delete', article_path(article),
                            method: :delete,
                            data: {confirm: 'Are you sure?'} %>
        </div><!--end panel-footer-->
      <% end %>
    </div><!--end panel-default-->
  <% end %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= will_paginate @articles %>
      <% if signed_in? && current_user.admin?%>
      <br>
      <%= link_to 'New Article', new_article_path %>
      <% end %>
    </div><!--end panel-body-->
  </div><!--end panel-default-->
</div><!--end basic-container-->
